.showPages {
	display: flex;
	justify-content: space-between;

	.showNextPage, .showPrevPage, .toTheTop {
		display: inline-block;
		color: white;
		background-color: rgba(0, 0, 0, .6);
		margin: 0.5rem 0.5rem;
		text-align: center;
		border: 3px solid white;
		border-radius: 0.5rem;
		outline: none;
		padding: 0.3rem 0.5rem;
		font-weight: bold;
		cursor: pointer;

	}

	.showNextPage:disabled, .showPrevPage:disabled {
		border: 3px solid darkgrey;
		background-color: white;
		color: darkgrey;
		cursor: auto;
	}


}