.profileWrapper {
	background-image: url("./../../Images/forest3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 1rem;
	outline: none;
	font-weight: bold;
	font-size: 100%;
	display: flex;
	overflow: auto;
	max-width: 100%;
	margin-top: 1rem;


	.myPostsWrapper {
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		background-color: rgba(0, 0, 0, .5);
		min-height: 89vh;
		width: 50%;
		margin-right: 0.5rem;
		padding-left: 0.5rem;
		overflow: auto;

	}


	.profile {
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		background-color: rgba(0, 0, 0, .5);
		width: 50%;
		margin-right: 0.5rem;
		padding-left: 0.5rem;



		.avaAndBtn {
			display: flex;
			flex-direction: column;

			.photo {
				border-radius: 1rem;
				max-width: 8.75rem;
				margin: 0.5rem auto;
			}

			.btnAdd, .btnDell {
				align-self: center;
				margin: 0 auto;
				font-size: 1.3rem;
				font-weight: bold;
				padding: 0.5rem;
				font-style: italic;
				border: 3px solid black;
				border-radius: 1rem;
				outline: none;
				cursor: pointer;
				display: inline-block;

			}

			.btnAdd:disabled, .btnDell:disabled {
				color: darkgrey;
				border: 3px solid darkgrey;
				background-color: rgba(28, 24, 23, 0.1);
			}

			.btnAdd {
				border: 3px solid green;
				color: green;
				background-color: rgba(0, 128, 0, 0.2);

			}

			.btnDell {
				border: 3px solid red;
				color: red;
				background-color: rgba(255, 0, 0, 0.2);
			}
		}

		.description, .contacts {
			display: flex;
			flex-direction: column;
		}

		.description {
			padding-top: 0.4rem;
			justify-content: space-around;
			align-items: center;

			.statusInput {
				border: 1px solid red;
				border-radius: 0.5rem;
				outline: none;
				padding: 0.1rem;
				font-size: 1rem;
				margin: 0.5rem 0 0 0.5rem;

			}

			.title,.titleDesc {
				font-weight: bold;
				font-size: 1.1rem;
				padding: 0 0 0.5rem 0.5rem;
				color: red;

			}
			.titleDesc {
				font-size: 0.8rem;
				color: white;


			}

			.desc {
				font-size: 1.2rem;
				border-bottom: 1px solid white;
				border-bottom-right-radius: 1rem;
				padding: 0.1rem 0.5rem;
				color: white;

			}

			.contacts {
				display: flex;
				padding-left: 1rem;


				.title {
					display: block;

				}

				.desc {
					display: block;
					color: blue;
				}
			}
		}
	}
}






@media screen and (max-width: 920px) {

	.profileWrapper {
display: block;
		font-size: 90%;
		max-width: 100%;
		.profile {
			width: 100%;
			padding-left: 0;
			margin-left: 0;
		}
		.myPostsWrapper {
			width: 100%;
			padding-left: 0;
			margin-left: 0;
		}

	}
}
@media screen and (max-width: 600px) {
	.contentWrapper {
		display: flex;
		flex-direction: column;
	.profileWrapper {

		font-size: 90%;
height: 100%;
		padding: 0;
		margin: 0;
		.myPostsWrapper {

		}

		.profile {
			max-width: 100%;
			padding: 0;
			margin: 0;
			.avaAndBtn {
				max-width: 5rem ;
				.photo {
					max-width: 5rem ;
				}
			}

		}

	}}
}




