
.users {
	background-image: url("./../../Images/forest4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 1rem;
	outline: none;
	font-weight: bold;
	height: 89vh;
	overflow: auto;
	max-width: 100%;


	.stringPages {
   text-align: center;
		padding: 0.3rem 0;

		.numberPage, .selectedPage{
			padding: 1px;
			display: inline-block;
			font-weight: normal;
			cursor: pointer;
		}
		.selectedPage {
      font-weight: bold;
			font-size: 1.2rem;
			color: red;
			border: 1px solid red;
			border-radius: 50%;
		}
	}
.nav {
	display: block;
	text-decoration: none;
	border-radius: 1rem;
	outline: none;
	margin-bottom: 1rem;
	color: white;
	border: 1px solid black;
	border-left: none;
	background-color: rgba(0, 0, 0, .6);
	max-height: 100%;

	.user {
		display: flex;
		max-width: 100%;

		.photoAndFriendStatus {
			max-width: 8.75rem;
			outline: none;
			border: 1px solid white;
			border-radius: 1rem;
			.photo {
				display: inline-block;
				max-width: 100%;
				min-width: 100%;
				border-top-right-radius: 1rem;
				border-top-left-radius: 1rem;
			}
			.friendStatus, .notFriendStatus {
				max-width: 100%;
				display: block;
				text-align: center;
				padding: 0.5rem 0.2rem 0.5rem 0.2rem;

			}
			.friendStatus {
				color: green;
			}
			.notFriendStatus {
				color: red;
			}
		}
	}
}
	.description {
		padding-left: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		   align-items: flex-start;

		.name, .status{

			font-weight: bold;
			font-size: 1.5rem;
		}
		.userName, .userStatus {
			border-bottom: 1px solid white;
			border-bottom-right-radius: 1rem;
			padding: 0 0.5rem;
			font-style: italic;
			font-size: 1.3rem;
		}
		}


	.user:last-child {
		margin-bottom: 0;
	}

}


@media screen and (max-width: 600px) {
	.user {
		font-size: 80%;

		.description {
			.userName, .userStatus {
				font-size: 0.9rem;
			}
			.name, .status {
				font-size: 1rem;
			}
		}

	}

}