
.users {
	background-image: url("./../../Images/forest4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 1rem;
	outline: none;
	font-weight: bold;
	max-height: 90vh;
	overflow: auto;
	max-width: 100%;

	.goToTheTop, .goToTheEnd {
		cursor: pointer;
		color: white;
		outline: none;
		font-weight: bold;
		text-align: center;
	}
	.goToTheTop {
margin-right: 1rem;
	}
	.goToTheEnd {
		margin-left: 1rem;
	}

.showPages {
	display: flex;
	justify-content: space-between;

	.showNextPage, .showPrevPage, .toTheTop{
		display: inline-block;

		color: white;
		background-color: rgba(0, 0, 0, .6);
		margin: 0.5rem 0.5rem;
		text-align: center;
		border: 3px solid white;
		border-radius: 0.5rem;
		outline: none;
		padding: 0.3rem 0.5rem;
		font-weight: bold;
		cursor: pointer;
	}
	.showNextPage:disabled, .showPrevPage:disabled {
		border: 3px solid darkgrey;
		background-color: white;
		color: darkgrey;
		cursor: auto;
	}
	.toTheTop {
		border: 3px solid greenyellow;
		color: greenyellow;
	}
}
	.stringPages {
		background-color: rgba(0, 0, 0, .6);
		border-radius: 0.5rem;

		.searchWrapper {
			display: flex;
			margin-right: 0.5rem;
			/*.search {
				color: white;
				cursor: pointer;
				padding: 0 0.5rem;
				margin-right: 0.5rem;
				border: 1px solid white;
				border-radius: 0.3rem;
				outline: none;
			}*/
		}


.string {
	color: white;
	margin: 0 auto;

}
    .numberUsers {
			color: white;


			border-radius: 0.5rem;
			outline: none;
			padding: 0.3rem 0.5rem;
      display: flex;
			.numbers {
				display: flex;
				flex-direction: column;
				.numberUsersInput {
					display: inline-block;
					border-radius: 0.2rem;
					outline: none;
					text-align: center;
				}
				.maxUsers {
					display: inline-block;
					font-size: 0.8rem;
					font-weight: normal;

				}
			}

			.numberUsersBtn {

				color: white;
				background-color: rgba(0, 0, 0, .6);
				margin: 0.5rem 0.5rem;
				text-align: center;
				border: 3px solid white;
				border-radius: 0.5rem;
				outline: none;
				padding: 0.3rem 0.5rem;
				font-weight: bold;
				cursor: pointer;

			}
			.numberUsersBtn:disabled {
				border: 3px solid darkgrey;
				background-color: white;
				color: darkgrey;
				cursor: auto;
			}

		}
		.numberUsersHidden {
			display: none;
		}

		display: flex;
		align-items: center;
		justify-content: space-around;
   text-align: center;
		padding: 0.3rem 0;
		color: black;

		.numberPage, .selectedPage{
			padding: 0.3rem;
			display: inline-block;
			font-weight: normal;
			cursor: pointer;
			color: white;
		}
		.selectedPage {
      font-weight: bold;
			font-size: 1.2rem;
			color: red;
			border: 1px solid red;
			border-radius: 50%;
		}
	}
.nav {
	display: block;
	text-decoration: none;
	border-radius: 1rem;
	outline: none;
	margin-bottom: 1rem;
	color: white;
	border: 1px solid black;
	border-left: none;
	background-color: rgba(0, 0, 0, .6);
	max-height: 100%;

	.user {
		display: flex;
		max-width: 100%;

		.photoAndFriendStatus {
			max-width: 8.75rem;
			outline: none;
			border: 1px solid white;
			border-radius: 1rem;
			.photo {
				display: inline-block;
				max-width: 100%;
				min-width: 100%;
				border-top-right-radius: 1rem;
				border-top-left-radius: 1rem;
			}
			.friendStatus, .notFriendStatus {
				max-width: 100%;
				display: block;
				text-align: center;
				padding: 0.5rem 0.2rem 0.5rem 0.2rem;

			}
			.friendStatus {
				color: green;
			}
			.notFriendStatus {
				color: red;
			}
		}
	}
}
	.description {
		padding-left: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		   align-items: flex-start;

		.name, .status{

			font-weight: bold;
			font-size: 1.5rem;
		}
		.userName, .userStatus {
			border-bottom: 1px solid white;
			border-bottom-right-radius: 1rem;
			padding: 0 0.5rem;
			font-style: italic;
			font-size: 1.3rem;
		}
		}


	.user:last-child {
		margin-bottom: 0;
	}

}
@media screen and (max-width: 750px) {
	.users {
		.stringPages {
			display: flex;
			flex-direction: column;
		}
	}
}

@media screen and (max-width: 600px) {
.users {
	max-width: 100%;
	.user {




		.description {
			.userName, .userStatus {
				font-size: 1.1rem;
			}
			.name, .status {
				font-size: 1.2rem;
			}
		}

	}

}
}

@media screen and (max-width: 350px) {
	.users {
		.stringPages {
			display: flex;
			flex-direction: column;

			.numberPage, .selectedPage{
				font-size: 0.8rem;
			}
		}
	}
}