/*
.headerWrapper {
	max-width: 100%;
	margin: 0 auto;

	.header {
		background-color: rgba(0, 0, 0, .6);
		margin: 0 10rem;
		font-style: italic;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 1rem;
		padding: 0 1rem;

		.loginLink {
			text-decoration: none;
			color: red;
			font-weight: bold;
		}

		.logo, .login {
			padding: 0.3rem;

		}

		.logo {
			font-weight: bold;
			font-size: 1.5rem;


		}

		.login {
			text-align: center;
			display: block;
			text-decoration: none;

			.loginPhoto {
				display: inline-block;
				max-width: 2rem;
				border: 1px solid white;
				border-top-left-radius: 0.5rem;
				border-top-right-radius: 0.5rem;
			}

			.loginName {
				display: block;
				max-width: 3rem;


				font-size: 0.9rem;
				font-weight: bold;
				color: white;
				outline: none;
			}
		}
	}
}

@media screen and (max-width: 630px) {
	.headerWrapper {
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		max-width: 3rem;

		.header {
			display: none;


			.logo {
				display: none;
			}
		}
	}
}
*/
