.headerWrapper {
	max-width: 100%;
	margin: 0 auto;

	.header {
		background-color: rgba(0, 0, 0, .6);
		margin: 0 10rem;
		font-style: italic;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 1rem;
		padding: 0 1rem;
		.logo, .login {
			padding: 0.3rem;

		}

		.logo {
			font-weight: bold;
			font-size: 1.5rem;

			.loginLink {
				text-decoration: none;
				color: white;
				font-weight: bold;
			}
		}

		.login {
			text-align: center;

			.loginPhoto {
				display: inline-block;
				max-width: 2rem;
				border: 1px solid black;
				border-top-left-radius: 0.5rem;
				border-top-right-radius: 0.5rem;
			}
			.loginName {
           display: block;
				max-width: 3rem;
				border: 1px solid black;
				margin-top: -0.5rem;
				font-size: 0.8rem;
				font-weight: bold;
				color: red;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.headerWrapper {
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		max-width: 3rem;

	.header {
		display: inline-block;
		margin: 0;
		padding: 0;
		.logo {
			display: none;
		}
	}}
}
