
.sideBarWrapper {
	max-width: 6rem;
	float: left;
	margin-right: 1rem;





	.sideBar {

		padding-top: 0.3rem;
		max-width: 100%;

		.item {
			display: block;
			text-decoration: none;
			color: white;
			background-color: rgba(0, 0, 0, .6);
			margin-top: 0.5rem;
			text-align: center;
			border: 3px solid black;
			border-radius: 0.5rem;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}
		.item:hover, .activeItem {
			border: 3px solid red;
			color: red;
		}

		.item:first-child {
			margin-top: 0;
		}
	}
}
@media screen and (max-width: 900px) {
	.sideBarWrapper {

	}}
@media screen and (max-width: 630px) {
	.sideBarWrapper {
		display: flex;
margin: 0 auto;
	position: sticky;
		top:0;
		float: none;
		text-align: center;
		max-width: 100%;
		clear: both;

		.sideBar {
			margin: 0 auto;

width: 100%;
			justify-content: space-around;

			.item {
				display: inline-block;
				font-weight: normal;
				padding: 0.1rem;
				margin: 0.1rem;
			}



			.item:first-child {
				margin-top: 0.5rem;
			}

		}

	}
}
@media screen and (max-width: 450px) {
	.sideBarWrapper {
		.sideBar {
			.item {

			}
		}
	}

}
