
.sideBarWrapper {
	max-width: 6rem;
	float: left;




	.sideBar {

		padding-top: 0.3rem;
		max-width: 100%;

		.item {
			display: block;
			text-decoration: none;
			color: white;
			background-color: rgba(0, 0, 0, .6);
			margin-top: 0.5rem;
			text-align: center;
			border: 3px solid black;
			border-radius: 0.5rem;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}
		.item:hover, .activeItem {
			border: 3px solid red;
			color: red;
		}

		.item:first-child {
			margin-top: 0;
		}
	}
}
@media screen and (max-width: 900px) {
	.sideBarWrapper {

	}}
@media screen and (max-width: 600px) {
	.sideBarWrapper {
margin-top: 5rem;

	}
}
@media screen and (max-width: 450px) {
	.sideBarWrapper {
		margin-top: 5rem;
	}

}
