.login {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	text-align: center;
	align-items: center;
	 .loginEmail, .loginPass, .loginCheck{
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 max-height: 100%;
		 padding: 0.5rem;
		 color: black;
		 font-weight: bold;

	 }

	.loginCheck {


	}

.loginBtns,.logOutBtns {
	display: flex;
	flex-direction: column;


	.loginBtn, .clearBtn {
		padding: 0.1rem;
		color: black;
		font-weight: bold;
		cursor: pointer;
		border-radius: 0.5rem;
		outline: none;
		margin: 0 4rem;
	}
	.loginBtn {
   margin-bottom: 1rem;


	}
}
	.logOutBtns {
		width: 100%;
		.logOutBtn{
			padding: 0.1rem;
			color: black;
			font-weight: bold;
			cursor: pointer;
			border-radius: 0.5rem;
			outline: none;
			margin: 1rem 4rem;
		}
	}

}





