.login {
	padding: 1rem;
display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;



	.loginBtn, .unLoginBtn,.log,.pass,.check {
padding: 1rem;
		color: black;
		font-weight: bold;

	}
	.loginBtn,.unLoginBtn {
		padding: 0.5rem;

	}
	.unLoginBtn{
		margin-top: 0.5rem;
	}
}





