.formComponentLabel {
	display: block;
	margin-bottom: 1rem;
	text-align: center;
}
.formComponent {
	display: flex;
	flex-direction: column;
	text-align: center;


	.formComponentField.errorField {
		border: 2px solid red;
	}

	.formComponentField, .formComponentError {
		border-radius: 0.5rem;
		outline: none;

	}

	.formComponentField {
		padding: 0.2rem;

		max-width: 100%;
	}


	.formComponentField[type=checkbox] {
		transform: scale(2);
		padding: 0.5rem;
		display: inline-block;
		cursor: pointer;
		margin: 0 auto;

	}

	.formComponentError {
		color: white;
		padding: 0.1rem 0.3rem;
		background-color: rgba(255, 0, 0, .5);
		margin: 0 auto;
	}


}