@mixin bRad($br) {
	border-radius: $br;
	outline: none;
}

.newsWrapper {
	max-width: 80%;
	margin: 3rem auto 0 auto;


	.stringPage {
		padding: 3px;
		text-align: center;
		background-color: rgba(0, 0, 0, 0.6);
		@include bRad (0.5rem);
		margin-bottom: 1rem;
		margin-top: 1rem;
	}

	.inputWrapper {
		display: flex;
		justify-content: space-between;

		.searchInput {
			@include bRad (0.5rem);
			padding: 5px;
		}
	}

	.newsLink {
		background-color: rgba(0, 0, 0, 0.6);
		text-align: center;
		text-decoration: none;
		border-bottom: 3px solid white;
		margin-bottom: 1rem;
		display: block;
		font-size: 1.3rem;
		font-weight: bold;
		color: lightskyblue;
		@include bRad (1rem);

		&:visited {
			color: lightpink;
		}

		.newsTitle {
			max-width: 80%;
			padding: 0.5rem;
			border-bottom: 2px solid white;
			@include bRad (0.5rem);
			margin: 0 auto;
		}

		.description {
			font-size: 1rem;
			font-weight: normal;
			padding: 0.5rem;
			color: white;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;

		}

	}
}
