.clearFix::after {
	content: '';
	display: table;
	clear: both;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	min-height: 100%;
}

.app {
	max-width: 1200px;
	margin: 0 auto;
	background-image: url("./Images/forest.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 1rem;
	outline: none;
	color: white;
	min-height: 100vh;
	font-size: 100%;
	position: relative;

	.contentWrapper {
		bottom: 0;
		overflow: auto;
		margin: 0 auto;
		padding: 0;
		max-width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.app {

		.contentWrapper {
			margin: 0 auto;
			padding: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.app {

		.contentWrapper {
			padding: 0;
		}
	}
}