.clearFix::after {
	content: '';
	display: table;
	clear: both;
}


.app {
	max-width: 1200px;
	margin: 0 auto;
	background-image: url("./Images/forest.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 1rem;
	outline: none;
	color: white;

	.contentWrapper {
		display: flex;
		flex-direction: column;
		padding: 0.5rem;
	}
}
