

.newDialogForm {
	position: relative;
display: flex;
	justify-content: stretch;
	max-width: 100%;
	margin: 0 auto;


	.newDialogBtn {

		display: flex;
		flex-direction: column;


		.Btn,.clearBtn {
			display: block;
			width: 100%;
			padding: 2px;
			border: 1px solid black;
			border-radius: 0.5rem;
			outline: none;
		}
	}


}