.dialogsWrapper {
	color: black;
	max-width: 100%;
	display: grid;
	grid-template-columns: 2fr 10fr;

	.users {
		background-color: lightgray;
		max-height: 80vh;
		overflow: auto;
		padding: 0.5rem;
		border-radius: 1rem;
		outline: none;
		margin: 2rem 0 0 0.5rem;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track-piece {
			background-color: white;
		}
		&::-webkit-scrollbar-thumb {
			height: 5px;
			background-color: #666;
			border-radius: 3px;
		}
		.userItem {
			height: 3rem;
			max-width: 100%;
		}

	}

		.userData {
			background-color: lightpink;
			height: 5rem;

		}

	.contentWrapper {
     margin-top: 2rem;

		.dialogs {
			background-color: blue;
			height: 69vh;
			padding: 0.5rem;

		}

	}


}


@media screen and (max-width: 920px) {

}
