.dialogsWrapper {
	color: black;
	max-width: 100%;

	.users {
		background-color: lightgray;
		overflow: auto;
		outline: none;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track-piece {
			background-color: white;
		}
		&::-webkit-scrollbar-thumb {
			height: 5px;
			background-color: #666;
			border-radius: 3px;
		}
		.userItem {
			height: 3rem;
			max-width: 100%;
			display: inline-block;
		}

	}

		.userData {
			background-color: lightpink;
			height: 5rem;

		}

	.contentWrapper {
		max-width: 100%;

		.dialogs {
			background-color: blue;
			height: 55vh;
			padding: 0.5rem;

		}
		.dialogForm {
			max-width: 100%;
		}

	}


}


@media screen and (max-width: 920px) {

}
