

.newDialogForm {
	max-width: 100%;
	padding: 0.5rem;
	margin: 0 auto;

	.formComponentLabel {
		display: none;
	}

	.newDialogText {
		display: inline-block;
		max-width: 100%;
		padding: 0.2rem;
		border-radius: 0.5rem;
		outline: none;

	}

	.newDialogBtn {
		display: inline-block;
		text-align: center;
		padding: 0.2rem;

		.Btn {
			padding: 0.3rem 0.5rem;
			border-radius: 0.5rem;
			outline: none;
			font-weight: bold;
		}
	}
}