.settings {
	display: flex;

   .uploadPhotoWrapper {
    max-height: 8rem;

		 background-color: rgba(0, 0, 0, .6);
		 color: white;
		 display: flex;
		 border-radius: 0.5rem;
		 outline: none;
		 margin: 0.3rem;
		 .uploadPhoto {
			 display: flex;
			 flex-direction: column;

			 .uploadPhotoFinished {
				 padding: 0.2rem;
				 color: white;
				 background-color: rgba(0, 250, 0, .6);
				 text-align: center;
				 border-radius: 0.5rem;
				 outline: none;
				 margin: 0.3rem 0.3rem 0 0.3rem;
			 }
			 input {
				 padding: 0.5rem;
			 }

			 .sendPhotoBtn {
				 padding: 0.5rem;
				 margin-top: 0.5rem;


			 }
		 }

	 }

	.settingsFormWrapper {

		display: flex;


		.submitFinished {
			color: white;
			background-color: rgba(0, 250, 0, .6);
			margin-top: 0.5rem;
			text-align: center;
			border-radius: 0.5rem;
			outline: none;
			padding: 0.5rem;

			.finishedForm {
				font-size: 1.1rem;
				font-weight: bold;
			}

		}

		.settingsErrorForm {
			color: white;
			background-color: rgba(250, 0, 0, .6);
			margin-top: 0.5rem;
			text-align: center;
			border-radius: 0.5rem;
			outline: none;
			padding: 0.5rem;


			.errorForm {
				font-size: 1.1rem;
				font-weight: bold;
			}
		}


		.settingsForm {
			text-align: center;
			color: white;
			display: flex;
			border-radius: 0.5rem;
			outline: none;
			margin-top: 0.3rem;
			padding: 0.3rem;
			background-color: rgba(0, 0, 0, .6);


			.description {
				display: flex;
				flex-direction: column;
				margin-right: 0.5rem;

				.titleAboutMe {
					font-size: 1.2rem;
					font-weight: bold;
					color: white;
				}

				.lookingForAJob {
					margin: 0 auto;
				}

				.sendBtn {
					padding: 0.25rem 1rem;
					margin: 1rem auto;
					border-radius: 0.5rem;
					outline: none;
				}

			}
		}

		.settingsForm.active {
			background-color: rgba(0, 128, 0, .2);
		}

		.contacts {

			.titleAboutMe {
				font-size: 1.2rem;
				font-weight: bold;
				color: white;
			}
		}
	}

}
@media screen and (max-width: 900px) {
	.settings {
		display: flex;
		flex-direction: column;
	}
}